@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Josefin+Sans&family=Nunito&family=Poltawski+Nowy&family=Roboto+Mono&family=Vina+Sans&family=Ysabeau:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #212529;
    /* background-color: white; */
    font-family: "Roboto Mono", monospace;
  }

  .thumbnailvideo {
    /* position: relative; */
    animation: thumbnail 2s ease-in 0.7s 1 normal;
    /* animation: name duration timing-function delay iteration-count direction
      /* fill-mode; */
  }
  @keyframes thumbnail {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
